{%extends 'base.html' %}
{% block content %}

<button type="button" data-toggle="modal" data-target="#myModal" style="margin-top: 3em;margin-left: 45em;"class="btn"onclick="comentario(1); ">Agregar comentario</button>
</div>

<div class="table-responsive" style="border: solid 3px #2ecc71; border-radius:10px; margin-top:3em">
<table class="table table-hover" style="color:#1976D2;">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Area</th>
            <th>Curso</th>
        </tr>
    </thead>
{% for prof in profesores %}
<tbody>
        <tr>
            <td>{{prof.nombre}}</td>
            <td>{{prof.apellido}}</td>
            <td>{{prof.email}}</td>
            <td>{{prof.area}}</td>
            <td>{{prof.curso}}</td>
            <td><a href="/perfilprofesor/?id={{prof.id}}">Ver</a></td>
        </tr>
    </tbody>
{%endfor%}
</table>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Escribe tu comentario</h4>
        </div>
            <div id="contenido"class="modal-body"> <!--comentario-->
            </div>
      </div>
      
    </div>
</div>

{%endblock%}



    
