<select class="buscarA" style="margin-top: 0em;">
<option>Elige Profesor </option>
{%for profesor in profesores%}
    <option value="{{profesor.id}}">{{profesor.nombre}}</option>
{%endfor%}

</select>


<script >
    $('select').on("change",getArchivosa);
function getArchivosa(){
    var id=$(this).val();
    console.log(id)
    if(id){
        var request = $.ajax({
           data: {'id':id},
            url: /archivoxprofesor/,
            type:"get",
        });
        request.done(function(response) {
            $("#contenido").html(response.archivos);
        });

    }
}
</script>