{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
    <h1 style="font-size: 3em; color:#1976D2; margin-top: 1em; margin-bottom: 1em;"><strong>{{ title }}</strong></h1>

<form method='GET' action=''>
    <input type='text' name='q' placeholder='Buscar' value='{{ request.GET.q }}'/>
    <input type='submit' value='Buscar' />
</form>
<br><br>

{% for obj in object_list %}
    <div class="panel panel-primary row">
        <div class="panel-heading"><strong> Autor : {{ obj.user.username }} </strong></div>
            <div class="panel-body">
                <div class="sub_left">
                    <ul>
                        <li><strong>Nombre del archivo: </strong><span>{{obj.nombre}}</span></li>
                        <li><strong>Area:</strong><span>{{obj.area}}</span></li>
                        <li><strong>Curso: </strong><span>{{obj.curso}}</span></li>
                        <li><strong>Profesor:</strong><span>{{obj.profesor}}  </span><button type="button" data-toggle="modal" data-target="#myModal" class="Datosp"value='{{obj.profesor.id}}' onclick="getDatosp();">ver</button> </li>
                    </ul>
                    <hr>
                    <a href="/static/{{obj.archivo}}" class="btn " role="button" target="_blank">  Ver  </a>
                    <!-- Descargar (pronto) -->
                    <!-- <button class="ll" role="button" target="_blank" value="{{obj.id}}">  Descargar  </button> -->
                    

                    <div class="sub_right">
                        <button class="votos" value="{{obj.id}}"onclick="getVotos();" style="background-color: transparent; border:none;">
                            <i class="fa fa-thumbs-o-up fa-2x"></i>
                        </button>
                        <button class="votos_subida" value="{{obj.id}}"onclick="getVotosSudida();" style="background-color: transparent; border:none;">
                            <i class="fa fa-thumbs-o-down fa-2x"></i>
                        </button>
                        <strong class="{{obj.id}}" >{{obj.votos}}</strong>
                    </div>
                    
                    
            
                </div>    
        </div>
   </div> 
{% endfor %}
 

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
                <div id="datos"class="modal-body"> <!--Datos del profesor-->
                  
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
    </div>

</div>

{% endblock content %}

<script >
    


</script>